<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Prediction History</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="history-bg">
  <div class="history-container">
    <h2>Prediction History</h2>
    <table class="flip-table">
      <tr>
        <th>Time</th><th>Age</th><th>Sex</th><th>BMI</th><th>Children</th><th>Smoker</th><th>Region</th><th>Charges</th>
      </tr>
      {% for item in history %}
      <tr>
        {% for val in item %}
        <td>{{ val }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>
  <footer>MADE BY MOHIT</footer>
</body>
</html>
