<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Insurance Home</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="home-bg">
  <div class="center-box">
    <h1 class="hero-text">Welcome to Insurance Charges Predictor</h1>
    <a href="/predict"><button class="main-btn glow-btn">Calculator</button></a>
    <a href="/history"><button class="main-btn glow-btn">History</button></a>
  </div>
  <footer>MADE BY MOHIT</footer>
</body>
</html>
